<!doctype html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, intial-scale=1">
<title>Custom Coding</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/home.css">


</head>

<body>
    <header>
        <h2 href="#"> M & M AIRPORT</h2>
        <nav>
            <li><a href="/home">HOME</a> </li>
            <li><a href="/find_flight">FIND FLIGHT</a> </li>
            <li><a href="/amenities">REVIEW</a> </li>
            <li><a href="/my_account">MY ACCOUNT</a> </li>
            <li><a href="/sign_in">SIGNIN/SIGNUP</a> </li>
            <li><a href="/sign_in">LOGOUT</a> </li>
        </nav>
    </header>

    <section class="hero">
        <div class="background-image"
            style="background-image: url(https://wallpaper-house.com/data/out/7/wallpaper2you_139824.jpg)"></div>
        <div class="hero-content-area">
            <h1>M & M AIRPORT</h1>
            <h3> EASY AFFORDABLE AND MEMORABLE EXPERIENCE</h3>
            
        </div>

    </section>

    <section class="destinations" id="s2">
        <h3 class="title">ABOUT OUR WEBSITE:</h3>
        
        <hr>
        <p>
            THIS WEBSITE IS MADE BY MIHIR PATEL AND MANAS WAGH. 

        </p>
        <p>
TECHSTACKS USED IN OUR WEBSITES ARE HTML CSS JAVASCRIPT NODE JS EXPRESS JS AND MYSQL
        </p>
        <p>
THIS WEBSITE MAINLY FOCUSES ON DATABSE MANAGEMENT OF AIRPORT SYSYTEM
        </p>
        <p>
EXPLORE OUR WEBSITE, HAPPY CODING!!!!        </p>

    </section>







    <section class="contact">
        <h3 class="title">Join our daily updates</h3>
       <P>CONTACT US ON 
        
       </P>
       <p>
        cse210001050@iiti.ac.in : MIHIR PATEL
       </p>
       <p>
        cse210001038@iiti.ac.in : MANAS WAGH
       </p>

        
    </section>

    <footer>
        <ul>
            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
            <li><a href="#"><i class="fa fa-github-square"></i></a></li>
        </ul>
        <p>Made by Mihir and Manas</p>
        <p>dbis project cse 210001050 and 210001038</p>
    </footer>

</body>

</html>








